<<<<<<< HEAD
doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  // Dark mode
  // <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  script.
    const button = document.getElementById("button")
    function addDarkmodeWidget() {
    new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  link(href='home.css' rel='stylesheet')
  title WMPD Home
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='#') West-Mec Police Department
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='incident.html') Incident(s)
        li.nav-item
          a.nav-link(href='person.html') Person(s)
        li.nav-item
          a.nav-link(href='vehicle.html') Vehicle(s)
        //
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Incident(s)</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Person(s)</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Vehicle(s)</a>
          </li>
          </div>
section
  img(src='logo.png' alt='WMPD Logo')
  a(href='index.html')
    .d-grid.gap-2.col-6.mx-auto
      button.btn.btn-primary(type='button') Log Out
  br
  br
  br
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
=======
block content

p Welcome to Home Page
>>>>>>> main
