doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  // Dark mode
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
  script.
    const button = document.getElementById("button")
    function addDarkmodeWidget() {
    new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  link(href='./stylesheets/three_fields.css' rel='stylesheet')
  title Incident
  link(rel='icon' type='image' href='logo.png')
// Links in the navigation bar that will take you to all the other pages
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='#') West-Mec Police Department
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(aria-current='page' href='/home') Home
        li.nav-item
          a.nav-link.active(href='/incident') Incident(s)
        li.nav-item
          a.nav-link(href='/person') Person(s)
        li.nav-item
          a.nav-link(href='/vehicle') Vehicle(s)
        //
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Incident(s)</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Person(s)</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Vehicle(s)</a>
          </li>
          </div>
// Search bar that'll assist you in finding specific items
nav.navbar.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand Incident Search
    form.d-flex
      input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success(type='submit') Search
br
// Button that'll take you to the submission page, inputting new subjects to track
.d-grid.gap-2.col-6.mx-auto
  a(href='incidentReport.html')
    button#createNew_Button.btn.btn-primary(type='button') Add A New Incident
br
// Empty fields that are 'loading,' but awaiting new content to display
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          h1 211
        .col-6
          h2 Robbery - 12/22/20 - Chase Bank
        .col-4
          h3 4 Males - 2 Suspects - Blue SUV
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          h1 601
        .col-6
          h2 Missing Persons - 11/2/20 - 133 Lehi St, Mesa 
        .col-4
          h3 Possible Murder Weapon - CCTV Footage
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          h1 451
        .col-6
          h2 Homicide - 10/12/20 - Holiday Inn
        .col-4
          h3 1 Suspect - 2 Possible Murder Weapons
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          h1 390
        .col-6
          h2 DUI - 12/22/20 - I-10
        .col-4
          h3 Mike Dean - 2001 Red Corvette
        .col-1
          // <img src="danger.png" alt="danger" height="50px" width="55px">
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          h1 211
        .col-6
          h2 Robbery - 7/14/20 - QT
        .col-4
          h3  1 Male - Black or Green Impala
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .d-flex.justify-content-center
      .spinner-border.text-secondary(role='status')
        span.visually-hidden Loading...
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .d-flex.justify-content-center
      .spinner-border.text-secondary(role='status')
        span.visually-hidden Loading...
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .d-flex.justify-content-center
      .spinner-border.text-secondary(role='status')
        span.visually-hidden Loading...
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .d-flex.justify-content-center
      .spinner-border.text-secondary(role='status')
        span.visually-hidden Loading...
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
