doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/reportfiles.css')
  link(rel='stylesheet' href='/stylesheets/three_fields.css')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  //darkmode
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
  script.
    const button = document.getElementById("button")
    function addDarkmodeWidget() {
    new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  title Incident Report
  link(rel='icon' type='image' href='logo.png')
br
br
.mx-auto(style='width: 80%;')
  .card.text-center
    h2.card-header.mx-auto(style='width: 100%;') Incident Report
    .row.g-2.m-3
      .col-md.me-3
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Date of Occurrence
          input.form-control(type='text' placeholder='MM/DD/YYYY' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' for='date_of_occurrence')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Report Date
          input.form-control(type='text' placeholder='MM/DD/YYYY' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' for='report_date')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Incident Type (Radio Code)
          input.form-control(type='number' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' for='incident_type')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Address of Incident
          input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' for='address_of_incident')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Name of Location
          input.form-control(type='text' placeholder='Walmart, Circle K, ect.' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' for='name_of_location') 
        table.table.table-striped.table-hover.border.border-light
          thead
            tr
              // shows the people who are involved and can check if theyre a suspect or victim and such
              th(scope='col') People Involved
              th(scope='col') Orientation
          tbody
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='' aria-label='First name')
              td
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | RP
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | W
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | V
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | IL
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | S
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='' aria-label='First name')
              td
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | RP
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | W
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | V
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | IL
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | S
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='' aria-label='First name')
              td
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | RP
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | W
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | V
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | IL
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | S
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='' aria-label='First name')
              td
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | RP
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | W
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | V
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | IL
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | S
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='' aria-label='First name')
              td
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | RP
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | W
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | V
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | IL
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | S
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='' aria-label='First name')
              td
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | RP
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | W
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | V
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | IL
                .form-check.form-check-inline
                  input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                  label.form-check-label(for='flexRadioDefault1')
                    | S
        table
        thead
          tr
            th(scope='col') Incident Report Details
        tbody
          tr
            th(scope='row')
              .form-floating.mb-3
                textarea#floatingTextarea.form-control.overflow-auto(placeholder='What Happened?' style='height: 300px; min-height: 300px; max-height: 300px;')
                label(for='floatingTextarea') What Happened?
        .input-group.mb-3
          label.input-group-text(for='inputGroupSelect01') Report Type
          select#inputGroupSelect01.form-select
            option(selected='') Primary Report
            option(value='1') Supplementary Report
        input#btn-check-outlined.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-warning(for='btn-check-outlined') Domestic Abuse Aggressor Toggle
        br
        br
        #userSerial_holder.input-group.mb-3
          span#basic-addon1.input-group-text Submitting Officer Serial Number
          input.form-control(type='text' placeholder='Serial Number' aria-label='Username' aria-describedby='basic-addon1')
        #incidentPassword_holder.col-auto
          label.col-form-label(for='inputPassword6') User Password
          input#inputPassword6.form-control(type='password' aria-describedby='passwordHelpInline')
        div
          a(href='/incident')
            button.btn.btn-primary.btn-lg.col-md.ms-3.mx-3(type='button') Submit
        br
        br