doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // Bootstrap CSS
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  // Dark mode
  script(src='https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js')
  script.
    const button = document.getElementById("button")
    function addDarkmodeWidget() {
    new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  link(href='/stylesheets/three_fields.css' rel='stylesheet')
  title Person
  link(rel='icon' type='image' href='logo.png')
// Links in the navigation bar that will take you to all the other pages
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='#') West-Mec Police Department
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(aria-current='page' href='/home') Home
        li.nav-item
          a.nav-link(href='/incident') Incident(s)
        li.nav-item
          a.nav-link.active(href='/person') Person(s)
        li.nav-item
          a.nav-link(href='/vehicle') Vehicle(s)
        //
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Incident(s)</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Person(s)</a>
          </li>
          </div>
          <div class="col">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Vehicle(s)</a>
          </li>
          </div>
// Search bar that would assist in finding certain people within the page
nav.navbar.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand Person Search
    form.d-flex
      input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success(type='submit') Search
br
// Button that'll take you to the submission page, inputting new subjects to track
.d-grid.gap-2.col-6.mx-auto
  a(href='person_Report.html')
    button#createNew_Button.btn.btn-primary(type='button') Add A New Person
br
// Display subjects/people/items in question, the first one is a placeholder for what we'd want the fields to look like. The rest are awaiting content.
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          img(src='https://ca.slack-edge.com/TSJ4J3C2H-USA8MDF8R-6483d79db767-512' alt='guy' height='55px' width='55px')
        .col-6
          h1 Samuel Maitre-Artiste Harris
        .col-4
          h1 5&apos;6&quot; &ndash; Male (22 Yrs.)
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          img(src='eren.jpeg' alt='guy' height='55px' width='55px')
        .col-6
          h1 Eren Jaeger
        .col-4
          h1 5&apos;7&quot; &ndash; Male (19 Yrs.)
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          img(src='kyle.jpeg' alt='guy' height='55px' width='55px')
        .col-6
          h1 Kyle Peck
        .col-4
          h1 6&apos;7&quot; &ndash; Male (23 Yrs.)
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          img(src='azula.jpeg' alt='guy' height='55px' width='55px')
        .col-6
          h1 Princess Azula
        .col-4
          h1 5&apos;0&quot; &ndash; Female (14 Yrs.)
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
  .shadow.p-3.mb-5.bg-body.rounded
    .container
      .row
        .col-1
          img(src='dio.jpeg' alt='guy' height='55px' width='55px')
        .col-6
          h1 Dio Brando
        .col-4
          h1 6&apos;5&quot; &ndash; Male (120 Yrs.)
        .col-1
          img(src='danger.png' alt='danger' height='50px' width='55px')
section#field_holder
  .shadow.p-3.mb-5.bg-body.rounded
    .d-flex.justify-content-center
      .spinner-border.text-secondary(role='status')
        span.visually-hidden Loading...
// Option 1: Bootstrap Bundle with Popper
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
