doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='/stylesheets/reportfiles.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  title Person Report
  link(rel='icon' type='image' href='logo.png')
br
br
.mx-auto(style='width: 80%;')
  .card.text-center
    h2.card-header.mx-auto(style='width: 100%;') Person Report
    .row.g-2.m-3
      .col-md.me-3
        // Field that allows you to input the name(s) of the person of choice
        .input-group.mb-3
          .col
            input.form-control(type='text' placeholder='First Name' aria-label='First name')
          .col
            input.form-control(type='text' placeholder='Middle Name' aria-label='Middle name')
          .col
            input.form-control(type='text' placeholder='Last Name' aria-label='Last name')
        // Field that allows you to input the social security and other immediate identification fields of the person of choice
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Social Security Number
          input.form-control(type='text' placeholder='XXX-XX-XXXX' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Age
          input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Date of Birth
          input.form-control(type='text' placeholder='MM/DD/YYYY' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Phone Number
          input.form-control(type='text' placeholder='(XXX)-XXX-XXXX' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Home Address
          input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        // other physical information that you input to help locate and differinciate someone, with checkbox/typing/dropdown fields
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Weight
          input.form-control(type='text' placeholder='XXX' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Height
          input.form-control(type='text' placeholder='XXX' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.mb-3
          label.input-group-text(for='inputGroupSelect01') Eye Color
          select#inputGroupSelect01.form-select
            option(selected='') Choose...
            option(value='1') BLK
            option(value='2') WHI
            option(value='3') SIL
            option(value='4') RED
            option(value='5') BLU
            option(value='6') DBL
            option(value='7') LBL
            option(value='8') BRZ
            option(value='9') BRO
            option(value='10') GLD
            option(value='11') GRY
            option(value='12') GRN
            option(value='13') MAR
            option(value='14') ORG
            option(value='15') PNK
            option(value='16') PLE
            option(value='17') TAN
            option(value='18') YEL
            option(value='19') TEA
            option(value='20') UNK
            option(value='21') HAZ
        .input-group.mb-3
          label.input-group-text(for='inputGroupSelect01') Race
          select#inputGroupSelect01.form-select
            option(selected='') Choose...
            option(value='1') B
            option(value='2') W
            option(value='3') H
            option(value='4') I
            option(value='5') A
            option(value='6') U
        .input-group.mb-3
          label.input-group-text(for='inputGroupSelect01') Hair Color
          select#inputGroupSelect01.form-select
            option(selected='') Choose...
            option(value='1') BLK
            option(value='2') WHI
            option(value='3') SIL
            option(value='4') RED
            option(value='5') BLU
            option(value='6') DBL
            option(value='7') LBL
            option(value='8') BRZ
            option(value='9') BRO
            option(value='10') GLD
            option(value='11') GRY
            option(value='12') GRN
            option(value='13') MAR
            option(value='14') ORG
            option(value='15') PNK
            option(value='16') PLE
            option(value='17') TAN
            option(value='18') YEL
            option(value='19') TEA
            option(value='20') UNK
            option(value='21') BLD
        .input-group.mb-3
          label.input-group-text(for='inputGroupSelect01') Gender
          select#inputGroupSelect01.form-select
            option(selected='') Unknown
            option(value='1') Male
            option(value='2') Female
        table.table.table-striped.table-hover.border.border-light
          thead
            tr
              th(scope='col') List of Scars or Tattoos
          tbody
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Scar or Tattoo' aria-label='Scar/Tattoo')
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Scar or Tattoo' aria-label='Scar/Tattoo')
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Scar or Tattoo' aria-label='Scar/Tattoo')
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Scar or Tattoo' aria-label='Scar/Tattoo')
        .input-group.mb-3
          label.input-group-text(for='inputGroupFile01') Upload
          input#inputGroupFile01.form-control(type='file')
      .col-md.ms-3
        .row.g-2
          .col-md
            label.form-label(for='formGroupExampleInput') Orientation
            .form-check
              input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
              label.form-check-label(for='flexRadioDefault1')
                | RP
            .form-check
              input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
              label.form-check-label(for='flexRadioDefault1')
                | W
            .form-check
              input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
              label.form-check-label(for='flexRadioDefault1')
                | V
            .form-check
              input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
              label.form-check-label(for='flexRadioDefault1')
                | IL
            .form-check
              input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
              label.form-check-label(for='flexRadioDefault1')
                | S
          .col-md
            label.form-label(for='formGroupExampleInput') Possible Affiliation(s)
            .form-check.form-switch
              input#flexSwitchCheckDefault.form-check-input(type='checkbox')
              label.form-check-label(for='flexSwitchCheckDefault') Gang Affiliation
            .form-check.form-switch
              input#flexSwitchCheckDefault.form-check-input(type='checkbox')
              label.form-check-label(for='flexSwitchCheckDefault') Large Corporation
            .form-check.form-switch
              input#flexSwitchCheckDefault.form-check-input(type='checkbox')
              label.form-check-label(for='flexSwitchCheckDefault') Community Member
            .form-check.form-switch
              input#flexSwitchCheckDefault.form-check-input(type='checkbox')
              label.form-check-label(for='flexSwitchCheckDefault') Club Organization
            .form-check.form-switch
              input#flexSwitchCheckDefault.form-check-input(type='checkbox')
              label.form-check-label(for='flexSwitchCheckDefault') Trade Union
        br
        table.table.table-striped.table-hover.border.border-light
          thead
            tr
              th(scope='col') Currently Registered Vehicle
          tbody
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='License Plate & State' aria-label='Vehicle Number')
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Vehicle Vin' aria-label='Vehicle Vin')
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Car Make & (YYYY)' aria-label='Make and Year')
            tr
              th(scope='row')
                input.form-control.bg-light(type='text' placeholder='Estimated Vehicle Value' aria-label='Value')
        table.table.table-striped.table-hover.border.border-light
          thead
            tr
              th(scope='col') Additional Vehicle Information
          tbody
            tr
              th(scope='row')
                .form-floating.mb-3
                  textarea#floatingTextarea.form-control.overflow-auto(placeholder='Leave a comment here' style='height: 300px; min-height: 300px; max-height: 300px;')
                  label(for='floatingTextarea') Additional Information
        input#btn-check-outlined.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-warning(for='btn-check-outlined') Domestic Abuse Aggressor Toggle
        br
        br
        input#btn-check-2-outlined.btn-check(type='checkbox' autocomplete='off')
        label.btn.btn-outline-danger(for='btn-check-2-outlined') Dangerous Individual Toggle
        br
      #userSerial_holder.input-group.mb-3
        span#basic-addon1.input-group-text Submitting Officer Serial Number
        input.form-control(type='text' placeholder='Serial Number' aria-label='Username' aria-describedby='basic-addon1')
      #password_holder.col-auto
        label.col-form-label(for='inputPassword6') User Password
        input#inputPassword6.form-control(type='password' aria-describedby='passwordHelpInline')
      div
        a(href='person.html')
          button.btn.btn-primary.btn-lg.col-md.ms-3.mx-3(type='button') Submit
br
br
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')
