#password_holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#userSerial_holder{
    margin-left: auto;
    margin-right: auto;
    padding-left: 30%;
    padding-right: 30%;
}

#incidentPassword_holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 18%;
    padding-bottom: 10px;
}

html{
    background-color: #23272a;
}
h2.card-header{
    color: white;
    background-color: #1a1d1f;
}

div.card{
    background-color: #34383b;
    color:white
}
table > thead{
    color: white;
}
table > tbody > tr > td > div.form-check > label.form-check-label{
    color: white;
}