button.btn-outline-success{
    border-color: #F47715;
    color: #F47715;
}
button.btn-outline-success:hover{
    background-color: #F47715;
    border-color: #F47715;
}

section#field_holder{
    padding-left: 8.3%;
    padding-right: 8.3%;
}

button#createNew_Button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
div.d-flex{
    padding-bottom: 1%;
    padding-top: 1%;
}
div.text-primary{
    color: #F47715;
}